<div class="container-chart-doughnots bg-white shadow-lg rounded-lg">

  <div class="text-center font-semibold text-2xl"> Resumen de gráficos</div>
  <div class="grid grid-cols-3 sm:grid-cols-2 md:grid-cols-3 gap-6 w-fit p-6 container-indicadores ">
    
  <div class="flex flex-col items-center justify-center text-center">
    <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
    <p-chart type="doughnut" [data]="dataPractica1" [options]="options" height="150px" width="100%"></p-chart>
  </div>
  
  <!-- Gráfico de Práctica 2 -->
  <div class="flex flex-col items-center justify-center text-center">
    <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
    <div class="flex flex-col items-center justify-center text-center">
      <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
    <div class="flex flex-col items-center justify-center text-center">
      <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>

    <!-- Gráfico de Práctica 2 -->
    <div class="flex flex-col items-center justify-center text-center">
      <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
    <div class="flex flex-col items-center justify-center text-center">
      <h3 class="text-lg font-semibold mb-4">Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
  </div>
</div>