<div class="columns-3 w-fit p-6 container-indicadores">
    <!-- Gráfico de Práctica 1 -->
    <div class="chart">
      <h3>Aprobacion de practica 1</h3>
      <p-chart type="doughnut" [data]="dataPractica1" [options]="options" height="150px" width="100%"></p-chart>
    </div>
  
    <!-- Gráfico de Práctica 2 -->
    <div class="chart">
      <h3>Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options"  height="150px" width="100%"></p-chart>
    </div>
    <div class="chart">
      <h3>Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options"  height="150px" width="100%"></p-chart>
    </div>
    <div class="chart">
      <h3>Aprobacion de practica 1</h3>
      <p-chart type="doughnut" [data]="dataPractica1" [options]="options" height="150px" width="100%"></p-chart>
    </div>
  
    <!-- Gráfico de Práctica 2 -->
    <div class="chart">
      <h3>Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
    <div class="chart">
      <h3>Aprobacion de Practica 2</h3>
      <p-chart type="doughnut" [data]="dataPractica2" [options]="options" height="150px" width="100%"></p-chart>
    </div>
</div>