<app-header />
<!-- <div class="p-6 bg-gray-100 min-h-screen">
    <div class="flex justify-start pb-6">
        <h1 class="text-3xl font-bold">Bienvenido {{nombre}}</h1>
    </div>

    <div class="flex gap-6">
        <div class="flex-2 bg-white shadow rounded p-6">
            <app-resumen-data></app-resumen-data>
        </div>

        <div class="flex-1 bg-white shadow rounded p-6">
            <app-indicadores></app-indicadores>
        </div>
    </div>
</div> -->

@if (
cargando()
) {
<div class="absolute top-0 left-0 w-full h-[calc(100%)] flex justify-center items-center pointer-events-none">
    <div class="flex space-x-2">
        <!-- Puntos animados con rebote e iluminación progresiva -->
        <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright" style="animation-delay: 0s"></div>
        <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright" style="animation-delay: 0.2s"></div>
        <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright" style="animation-delay: 0.4s"></div>
    </div>
</div>
}



<app-dashboard [hidden]="cargando()" (estadoCargando)="finalizoCarga($event)" />

<!-- <app-perfil-data></app-perfil-data>
<app-tabla-funciones></app-tabla-funciones> -->

<!-- Alumnos en practica -->
<!-- Alumnos sin entregar informes -->
<!-- Docentes sin entregar informes -->

<!-- Footer -->