<app-navbar />

<!-- Pantalla de carga moderna -->
<div *ngIf="cargando" class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-gradient-to-br from-blue-50 to-blue-200 dark:from-gray-900 dark:to-gray-800">
  <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-blue-600 mb-6"></div>
  <span class="text-base md:text-lg font-semibold text-blue-900 dark:text-blue-200 tracking-wide drop-shadow">
    Cargando, por favor espere...
  </span>
</div>

<div *ngIf="!cargando" class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-800 py-8 px-4">
  <div class="w-full max-w-6xl mx-auto">
    <!-- Título y Subtítulo -->
    <div class="text-center mt-5 mb-10">
      <h2 class="text-3xl md:text-4xl font-bold text-blue-900 dark:text-blue-200 drop-shadow">
        Gestión de Prácticas Profesionales
      </h2>
      <p class="mt-2 text-base text-gray-600 dark:text-gray-300">
        Administre las asignaciones de profesores y supervise las prácticas profesionales de los alumnos.
      </p>
    </div>

    <!-- Buscador -->
    <div class="w-full mx-auto mb-6">
      <input
        type="text"
        class="w-full px-4 py-2 border rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700"
        placeholder="Buscar por RUT"
        [(ngModel)]="buscador"
      />
    </div>

    <div *ngIf="practicasBackend.length > 0" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Tarjetas dinámicas -->
      <div
        *ngFor="let practica of obtenerDatosPaginados()"
        class="bg-white dark:bg-gray-800 shadow rounded-xl border border-gray-200 dark:border-gray-700 hover:shadow-lg transition-shadow flex flex-col"
      >
        <!-- Cabecera -->
        <div class="bg-gradient-to-r from-blue-100 to-blue-50 dark:from-blue-900 dark:to-blue-800 px-4 py-3">
          <h3 class="text-lg font-bold text-blue-600 dark:text-blue-300">
            {{ practica.tipo_practica == 'PRACTICA_UNO' ? 'Práctica I' : 'Práctica II' }}
          </h3>
        </div>
    
        <!-- Información Resumida -->
        <div class="p-4 flex-grow space-y-4">
          <!-- Datos del alumno -->
          <div>
            <p class="text-sm text-gray-500">Alumno</p>
            <p class="text-base font-medium text-gray-800 dark:text-gray-200 truncate">{{ practica.alumno_nombre }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">RUT Alumno</p>
            <p class="text-base font-medium text-gray-800 dark:text-gray-200 truncate">{{ practica.alumno_rut }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Modalidad</p>
            <p class="text-base font-medium text-gray-800 dark:text-gray-200 truncate">{{ textoModalidad[practica.modalidad] }}</p>
          </div>
    
          <!-- Estado de la práctica -->
          <div>
            <p class="text-sm text-gray-500">Estado Práctica</p>
            <p
              class="text-base font-medium truncate"
              [ngClass]="{
                'text-blue-600': practica.estado_practica === 'CURSANDO',
                'text-red-600': practica.estado_practica === 'ESPERA_INFORMES',
                'text-green-500': practica.estado_practica === 'INFORMES_RECIBIDOS',
                'text-yellow-600': practica.estado_practica === 'REVISION_GENERAL',
                'text-green-600': practica.estado_practica === 'FINALIZADA'
              }"
            >
              {{ textoEstadoPractica[practica.estado_practica] }}
            </p>
            <!-- <p *ngIf="practica.estado_informe_alumno == 'DESAPROBADA' || practica.estado_informe_confidencial == 'DESAPROBADA'"
              class="text-base text-red-800 font-medium truncate"
            >
              Desaprobada
            </p> -->
            
          </div>
    
          <!-- Estado de los informes -->
          <div *ngIf="!['CURSANDO'].includes(practica.estado_practica)">
            <p class="text-sm text-gray-500">Estado Informe Alumno</p>
            <p
              class="text-base font-medium truncate"
              [ngClass]="{
                'text-blue-600': practica.estado_informe_alumno === 'ENVIADA',
                'text-red-600': practica.estado_informe_alumno === 'ESPERA',
                'text-red-800': practica.estado_informe_alumno === 'DESAPROBADA',
                'text-yellow-600': practica.estado_informe_alumno === 'REVISION',
                'text-orange-600': practica.estado_informe_alumno === 'CORRECCION',
                'text-green-600': practica.estado_informe_alumno === 'APROBADA'
              }"
            >
              {{
                practica.estado_informe_alumno
                  ? textoEstadoInforme[practica.estado_informe_alumno]
                  : 'Práctica aún en curso'
              }}
            </p>
          </div>
          <div *ngIf="!['CURSANDO'].includes(practica.estado_practica)">
            <p class="text-sm text-gray-500">Estado Informe Confidencial</p>
            <p
              class="text-base font-medium truncate"
              [ngClass]="{
                'text-blue-600': practica.estado_informe_confidencial === 'ENVIADA',
                'text-red-600': practica.estado_informe_confidencial === 'ESPERA',
                'text-red-800': practica.estado_informe_confidencial === 'DESAPROBADA',
                'text-yellow-600': practica.estado_informe_confidencial === 'REVISION',
                'text-orange-600': practica.estado_informe_confidencial === 'CORRECCION',
                'text-green-600': practica.estado_informe_confidencial === 'APROBADA'
              }"
            >
              {{
                practica.estado_informe_confidencial
                  ? textoEstadoInforme[practica.estado_informe_confidencial]
                  : 'Práctica aún en curso'
              }}
            </p>
          </div>
    
          <!-- Profesor asignado -->
          <div *ngIf="['REVISION', 'CORRECION', 'APROBADA', 'ENVIADA', 'DESAPROBADA'].includes(practica.estado_informe_alumno) && !['CURSANDO'].includes(practica.estado_practica)">
            <p class="text-sm text-gray-500">Profesor</p>
            <p
              class="text-base font-medium truncate"
              [ngClass]="practica.academico_nombre ? 'text-gray-800' : 'text-red-600'"
            >
              {{ practica.academico_nombre || 'Sin asignar' }}
            </p>
          </div>
        </div>
    
        <!-- Botón Ver Detalles -->
        <div class="bg-gray-50 dark:bg-gray-900 px-4 py-3 text-center">
          <button
            class="w-full bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-2 rounded-md"
            (click)="abrirModalDetalles(practica)"
          >
            Ver Detalles
          </button>
        </div>
      </div>
    </div>
    
        <!-- Mostrar mensaje cuando no hay prácticas -->
        <div
        *ngIf="practicasBackend?.length === 0"
        class="bg-white dark:bg-gray-800 w-full rounded-xl shadow-xl flex flex-col items-center justify-center h-[20rem]"
      >
        <svg
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          width="80px"
          height="80px"
          viewBox="0 0 100 100"
          class="text-gray-500 dark:text-gray-400"
        >
          <path
            d="M46.6,23.7l-2.1-2.1c-0.6-0.6-1.5-0.6-2.1,0L29.2,34.8l-5.3-5.3c-0.6-0.6-1.5-0.6-2.1,0l-2.1,2.1
            c-0.6,0.6-0.6,1.5,0,2.1l7.4,7.4c0.6,0.6,1.4,0.9,2.1,0.9c0.8,0,1.5-0.3,2.1-0.9l15.3-15.3C47.1,25.3,47.1,24.3,46.6,23.7z"
          />
          <path d="M77,38H51c-1.1,0-2-0.9-2-2v-4c0-1.1,0.9-2,2-2h26c1.1,0,2,0.9,2,2v4C79,37.1,78.1,38,77,38z" />
        </svg>
        <h1 class="mt-4 text-2xl font-bold text-gray-700 dark:text-gray-200">No hay prácticas disponibles</h1>
        <p class="mt-2 text-gray-500 dark:text-gray-400 text-center">
          Actualmente no existen prácticas asignadas a los alumnos.
        </p>
      </div>

    <!-- Navegación entre páginas -->
    <div class="flex flex-col sm:flex-row justify-between items-center mt-6 gap-4">
      <button
        class="px-4 py-2 border rounded-lg text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 disabled:bg-gray-100 dark:disabled:bg-gray-800 disabled:text-gray-400 disabled:hover:bg-gray-100 dark:disabled:hover:bg-gray-800 transition-colors duration-200"
        [disabled]="paginaActual === 0"
        (click)="paginaAnterior()"
      >
        Anterior
      </button>
      <span class="text-sm text-gray-500 dark:text-gray-400">
        Página {{ paginaActual + 1 }} de {{ totalPaginas == 0 ? 1 : totalPaginas }}
      </span>
      <button
        class="px-4 py-2 border rounded-lg text-gray-600 dark:text-gray-300 bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 disabled:bg-gray-100 dark:disabled:bg-gray-800 disabled:text-gray-400 disabled:hover:bg-gray-100 dark:disabled:hover:bg-gray-800 transition-colors duration-200"
        [disabled]="paginaActual >= totalPaginas - 1"
        (click)="paginaSiguiente()"
      >
        Siguiente
      </button>
    </div>


  </div>
</div>


<!-- Modal de Detalles -->
<p-dialog [(visible)]="modalDetalles" [modal]="true" [draggable]="false" [closable]="false" [dismissableMask]="true" [style]="{ width: '750px' }">
  <!-- Header -->
  <ng-template pTemplate="header">
    <div class="text-center mx-auto py-4">
      <h2 class="text-2xl font-semibold text-blue-700">Detalles de la Práctica</h2>
    </div>
  </ng-template>

  <!-- Content -->
  <ng-template pTemplate="content">
    <div class="space-y-8">
      <!-- Información General -->
      <div class="space-y-6">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Información General</h3>
        </div>
        <div class="grid grid-cols-2 gap-6 text-sm">
          <div>
            <p class="text-gray-500">Alumno</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.alumno_nombre }}</p>
          </div>
          <div>
            <p class="text-gray-500">RUT Alumno</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.alumno_rut }}</p>
          </div>
          <div>
            <p class="text-gray-500">Tipo de Práctica</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.tipo_practica == 'PRACTICA_UNO' ? 'Práctica I' : 'Práctica II' }}</p>
          </div>
          <div>
            <p class="text-gray-500">Modalidad</p>
            <p class="font-medium text-gray-900">{{ textoModalidad[practicaSeleccionada?.modalidad!] }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Estado Práctica</p>
            <p class="text-base font-medium truncate"
              [ngClass]="{
                'text-blue-600': practicaSeleccionada?.estado_practica === 'CURSANDO',
                'text-red-600': practicaSeleccionada?.estado_practica === 'ESPERA_INFORMES',
                'text-green-500': practicaSeleccionada?.estado_practica === 'INFORMES_RECIBIDOS',
                'text-yellow-600': practicaSeleccionada?.estado_practica === 'REVISION_GENERAL',
                'text-green-600': practicaSeleccionada?.estado_practica === 'FINALIZADA'
              }">
              {{ textoEstadoPractica[practicaSeleccionada!.estado_practica] }}
            </p>
          </div>

          <!-- Estado Informe Alumno -->
          <div *ngIf="!['CURSANDO'].includes(practicaSeleccionada!.estado_practica)">
            <p class="text-gray-500">Estado Informe Alumno</p>
            <p class="text-base font-medium"
              [ngClass]="{
                'text-blue-600': practicaSeleccionada?.estado_informe_alumno === 'ENVIADA',
                'text-red-600': practicaSeleccionada?.estado_informe_alumno === 'ESPERA',
                'text-red-800': practicaSeleccionada?.estado_informe_alumno === 'DESAPROBADA',
                'text-yellow-600': practicaSeleccionada?.estado_informe_alumno === 'REVISION',
                'text-orange-600': practicaSeleccionada?.estado_informe_alumno === 'CORRECCION',
                'text-green-600': practicaSeleccionada?.estado_informe_alumno === 'APROBADA'
              }">
              {{ textoEstadoInforme[practicaSeleccionada?.estado_informe_alumno!] }}
            </p>
          </div>

          <!-- Estado Informe Confidencial -->
          <div *ngIf="!['CURSANDO'].includes(practicaSeleccionada!.estado_practica)">
            <p class="text-sm text-gray-500">Estado Informe Confidencial</p>
            <p class="text-base font-medium truncate"
              [ngClass]="{
                'text-blue-600': practicaSeleccionada?.estado_informe_confidencial === 'ENVIADA',
                'text-red-600': practicaSeleccionada?.estado_informe_confidencial === 'ESPERA',
                'text-red-800': practicaSeleccionada?.estado_informe_confidencial === 'DESAPROBADA',
                'text-yellow-600': practicaSeleccionada?.estado_informe_confidencial === 'REVISION',
                'text-orange-600': practicaSeleccionada?.estado_informe_confidencial === 'CORRECCION',
                'text-green-600': practicaSeleccionada?.estado_informe_confidencial === 'APROBADA'
              }">
              {{ textoEstadoInforme[practicaSeleccionada!.estado_informe_confidencial!] }}
            </p>
          </div>
        </div>
      </div>

      <!-- Fechas y Horas -->
      <div class="space-y-6">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Fechas y Horas</h3>
        </div>
        <div class="grid grid-cols-2 gap-6 text-sm">
          <div>
            <p class="text-gray-500">Fecha de Inicio</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.fecha_inicio | date: 'dd/MM/yyyy' }}</p>
          </div>
          <div>
            <p class="text-gray-500">Fecha de Finalización</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.fecha_termino | date: 'dd/MM/yyyy' }}</p>
          </div>
          <div>
            <p class="text-gray-500">Cantidad de Horas</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.cantidad_horas }} horas</p>
          </div>
          <div>
            <p class="text-gray-500">Horas Semanales</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.horas_semanales }} horas/semana</p>
          </div>
        </div>
      </div>

      <!-- Empresa (Supervisor) -->
      <div *ngIf="dataUser?.rol == tipoJefeCarrera || dataUser?.rol == tipoAdministrador " class="space-y-6">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Empresa (Supervisor)</h3>
        </div>
        <div class="grid grid-cols-2 gap-6 text-sm">
          <div>
            <p class="text-gray-500">Supervisor</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.supervisor_nombre }}</p>
          </div>
          <div>
            <p class="text-gray-500">RUT Supervisor</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.supervisor_rut }}</p>
          </div>
          <div>
            <p class="text-gray-500">Correo Supervisor</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.supervisor_correo }}</p>
          </div>
        </div>
      </div>

      <!-- Horas realizadas -->
      <div class="space-y-6" *ngIf="practicaSeleccionada?.estado_practica !== 'CURSANDO' && (dataUser?.rol == tipoJefeCarrera || dataUser?.rol == tipoAdministrador)">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Horas realizadas</h3>
        </div>
        <div class="grid grid-cols-2 gap-6 text-sm">
          <div>
            <p class="text-gray-500">Total de Horas</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.total_horas }} horas</p>
          </div>
          <div>
            <p class="text-gray-500">Horas extraordinarias</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.horas_practicas_extraordinarias }} horas</p>
          </div>
          <div>
            <p class="text-gray-500">Horas regulares</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.horas_practicas_regulares }} horas</p>
          </div>
          <div>
            <p class="text-gray-500">Horas de Inasistencia</p>
            <p class="font-medium text-gray-900">{{ practicaSeleccionada?.horas_inasistencia }} horas</p>
          </div>
        </div>
      </div>

      <!-- Profesor Asignado -->
      <div class="space-y-6" *ngIf="['REVISION', 'CORRECCION', 'APROBADA', 'ENVIADA', 'DESAPROBADA'].includes(practicaSeleccionada?.estado_informe_alumno!)">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Profesor Asignado</h3>
        </div>
        <div class="flex items-center justify-between text-sm">
          <div>
            <p class="text-gray-500">Profesor</p>
            <p class="font-medium" [ngClass]="practicaSeleccionada?.academico_nombre ? 'text-gray-900' : 'text-red-600'">
              {{ practicaSeleccionada?.academico_nombre || 'Sin asignar' }}
            </p>
          </div>
          
          <div class="flex space-x-2 items-center">
            <div *ngIf="cargandoAsignacion" class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin"></div>

            <div *ngIf="dataUser?.rol == tipoSecretariaCarrera || dataUser?.rol == tipoSecretariaDepartamento || dataUser?.rol == tipoAdministrador ">
              <!-- Botón Asignar Profesor -->
              <button *ngIf="practicaSeleccionada?.estado_informe_alumno === 'ENVIADA' && practicaSeleccionada?.estado_informe_confidencial === 'ENVIADA' && !practicaSeleccionada?.academico_nombre"
                class="bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105"
                (click)="abrirModal()">
                Asignar Profesor
              </button>
  
              <!-- Botón Modificar Profesor -->
              <button *ngIf="['REVISION', 'CORRECCION'].includes(practicaSeleccionada?.estado_informe_alumno!) && practicaSeleccionada?.academico_nombre"
                class="bg-amber-500 hover:bg-amber-600 text-white text-sm font-medium px-4 py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105"
                (click)="abrirModal()">
                Modificar Profesor
              </button>
            </div>
          </div>

        </div>
      </div>

      <!-- Extender Práctica -->
      <div class="space-y-6" *ngIf="practicaSeleccionada?.estado_practica == 'CURSANDO'">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Extender Práctica</h3>
        </div>

        <div class="flex space-x-2 items-center">
          <div *ngIf="dataUser?.rol == tipoSecretariaCarrera || dataUser?.rol == tipoSecretariaDepartamento || dataUser?.rol == tipoAdministrador">
            <button
              class="bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-4 py-2 rounded-lg"
              (click)="abrirModalExtension()">
              Ingresar nueva fecha de finalización
            </button>
          </div>
          <div *ngIf="cargandoExtension" class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin"></div>
        </div>
      </div>

      <div class="space-y-6" *ngIf="practicaSeleccionada?.estado_informe_alumno == 'DESAPROBADA' || practicaSeleccionada?.estado_practica == 'CURSANDO'">
        <div class="border-b pb-4">
          <h3 class="text-xl font-semibold text-gray-800">Eliminar Práctica</h3>
        </div>
      
        <div class="flex space-x-2 items-center">
          <div
            *ngIf="dataUser?.rol == tipoSecretariaCarrera || dataUser?.rol == tipoSecretariaDepartamento || dataUser?.rol == tipoAdministrador">
            <button
              (click)="mostrarConfirmacion()"
              class="bg-red-600 hover:bg-red-700 text-white text-sm font-medium px-4 py-2 rounded-lg">
              Eliminar Práctica del Alumno
            </button>
          </div>
          <div *ngIf="cargandoEliminacion"
            class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin">
          </div>
        </div>
      </div>

    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end space-x-6">
      <button type="button" class="bg-gray-400 hover:bg-gray-500 text-white text-sm font-medium px-4 py-2 rounded-lg"
        (click)="cerrarModalDetalles()">
        Cerrar
      </button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog
  [(visible)]="modalAsignacion"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  [dismissableMask]="true"
  [style]="{ width: '600px' }"
  class="rounded-lg shadow-lg"
>
  <!-- Header del Modal -->
  <ng-template pTemplate="header">
    <div class="text-center mx-auto">
      <h2 class="text-2xl font-bold text-blue-600">Seleccionar Profesor</h2>
      <p class="text-sm text-gray-500 mt-1">Asigna un profesor a la práctica seleccionada</p>
    </div>
  </ng-template>

  <!-- Contenido del Modal -->
  <ng-template pTemplate="content">
    <div class="overflow-auto max-h-96 p-4">
      <table class="w-full text-sm text-left text-gray-700 border-collapse">
        <thead class="bg-blue-50 text-gray-500">
          <tr>
            <th class="px-4 py-2 rounded-tl-lg text-left border-b">Profesor</th>
            <th class="px-4 py-2 text-center border-b">Informes Asignados</th>
            <th class="px-4 py-2 rounded-tr-lg text-center border-b">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let profesor of profesoresBackend"
            class="bg-white hover:bg-blue-100 transition duration-200 ease-in-out"
          >
            <td class="px-4 py-3 text-gray-900 font-medium border-b">
              {{ profesor.nombre_academico }}
            </td>
            <td class="px-4 py-3 text-center border-b">
              {{ profesor.cantidad_informes }}
            </td>
            <td class="px-4 py-3 text-center border-b">
              <button
                *ngIf="copiaPractica?.academico_nombre !== profesor.nombre_academico"
                (click)="asignarProfesor(profesor)"
                class="bg-blue-600 hover:bg-blue-700 text-white rounded-lg px-4 py-2 text-sm shadow"
              >
                Asignar
              </button>
              <button
                *ngIf="copiaPractica?.academico_nombre === profesor.nombre_academico"
                (click)="quitarProfesor()"
                class="bg-red-600 hover:bg-red-700 text-white rounded-lg px-4 py-2 text-sm shadow"
              >
                Quitar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <!-- Footer del Modal -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-4 mt-6 items-center">

      <div *ngIf="cargandoAsignacion" class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin"></div>


      <button
        type="button"
        class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg transition duration-200 text-sm shadow"
        (click)="cancelarAsignacion()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition duration-200 text-sm shadow"
        (click)="confirmarAsignacion()"
      >
        Confirmar
      </button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog 
  [(visible)]="modalExtension"
  [modal]="true"
  [draggable]="false"
  [closable]="false"
  [dismissableMask]="true"
  [style]="{ width: '600px' }"
  class="rounded-lg shadow-lg"
  focusOnShow="false"
>
  <!-- Header del Modal -->
  <ng-template pTemplate="header">
    <div class="text-center mx-auto">
      <h2 class="text-2xl font-bold text-blue-600">Extender Fecha de Práctica</h2>
      <p class="text-sm text-gray-500 mt-1">Selecciona una nueva fecha para la finalización de la práctica</p>
    </div>
  </ng-template>

  <!-- Contenido del Modal -->
  <ng-template pTemplate="content">
    <div class="p-4">
      <div class="mb-4">
        <label for="fechaExtension" class="block text-sm font-medium text-gray-700 mb-5">
          Nueva Fecha de finalización de Práctica
        </label>
        <p-calendar
          id="fechaExtension"
          [(ngModel)]="fechaExtension"
          [showIcon]="false"
          dateFormat="dd-mm-yy"
          styleClass="w-full"
          inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
          [appendTo]="'body'"
        ></p-calendar>
      </div>
    </div>
  </ng-template>

  <!-- Footer del Modal -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-4 mt-6 items-center">

      <div *ngIf="cargandoExtension" class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin"></div>


      <button
        type="button"
        class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded-lg transition duration-200 text-sm shadow"
        (click)="cerrarModalExtension()"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition duration-200 text-sm shadow"
        (click)="confirmarFechaExtension()"
      >
        Confirmar
      </button>
    </div>
  </ng-template>
</p-dialog>
