.background-image {
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("/departamento_ici/transicion_6.webp");
    background-size: cover;
    background-repeat: no-repeat;
}