::ng-deep .p-calendar {
    border: none !important; /* Quita el borde predeterminado */
    box-shadow: none !important; /* Elimina la sombra predeterminada */
    width: 100% !important; /* Asegura que el dropdown ocupe todo el ancho */
    min-width: 0; /* Opcional: evita que el dropdown tenga un ancho mínimo */
  }
  
  ::ng-deep .p-calendar .p-inputtext {
    border: none !important; /* Quita el borde del input */
    box-shadow: none !important; /* Elimina cualquier sombra */
    background-color: transparent;
  }
  
  ::ng-deep .p-calendar .p-inputtext:focus {
    outline: none !important; /* Elimina el borde de foco predeterminado */
  }
  
  
  ::ng-deep .p-dropdown {
    border: none !important; /* Quita el borde predeterminado */
    box-shadow: none !important; /* Elimina la sombra predeterminada */
    background-color: transparent !important;
    width: 100% !important; /* Asegura que el dropdown ocupe todo el ancho */
    min-width: 0; /* Opcional: evita que el dropdown tenga un ancho mínimo */
  }

.p-dropdown-panel {
    top: auto !important; /* Anula la posición automática */
    bottom: 0; /* Ajusta hacia abajo */
  }

  @keyframes bounce-bright {
    0%, 100% {
      transform: translateY(0);
      background-color: #3b82f6; /* Azul original */
    }
    50% {
      transform: translateY(-10px); /* Rebote hacia arriba */
      background-color: #93c5fd; /* Azul más brillante */
    }
  }
  
  .animate-bounce-bright {
    animation: bounce-bright 1s infinite;
  }