<div class="max-w-5xl mx-auto px-4 text-center min-w-full h-screen relative overflow-hidden absolute inset-0 bg-cover bg-center background-image">

    <div class="absolute inset-0 bg-black opacity-60"></div>

    <div class="w-full max-w-5xl mx-auto flex flex-col items-center justify-center min-h-screen relative">
        <div class="bg-white flex bg-opacity-90 shadow-lg rounded-lg">
            <div class="w-full m-auto">
                <h1 class="text-4xl font-bold m-auto mb-12">Soliticar practicante</h1>
                <p class="px-10 text-justify text-xl leading-relaxed">
                    Para solicitar la actividad de práctica profesional para un estudiante de la carrera, por favor, complete la carta de solicitud que se encuentra a continuación.
                </p>
                <div class="mx-auto mt-28">
                    <button class="my-10 me-5 w-5/12 inline-block py-4 px-8 leading-none text-white bg-blue-600 hover:bg-blue-700 rounded shadow text-sm font-semibold transition duration-300"
                    (click)="toHome()">
                        Volver
                    </button>
                    <button class="my-10 w-5/12 inline-block py-4 px-8 leading-none text-white bg-blue-600 hover:bg-blue-700 rounded shadow text-sm font-semibold transition duration-300">
                        <a href="formato-solicitud.docx" download class="text-white">
                            Descargar formato
                        </a>
                    </button>
                </div>
            </div>
            <div class="w-full">
                <img class="bg-white my-12 w-5/6 m-auto rounded-xl" src="formato-imagen.png" alt="">          
            </div>
        </div>
    </div>
    
</div>