<app-header></app-header>
<!-- <div class="p-6 bg-gray-100 min-h-screen">
    <div class="flex justify-start pb-6">
        <h1 class="text-3xl font-bold">Bienvenido {{nombre}}</h1>
    </div>

    <div class="flex gap-6">
        <div class="flex-2 bg-white shadow rounded p-6">
            <app-resumen-data></app-resumen-data>
        </div>

        <div class="flex-1 bg-white shadow rounded p-6">
            <app-indicadores></app-indicadores>
        </div>
    </div>
</div> -->


<app-dashboard></app-dashboard>

<!-- <app-perfil-data></app-perfil-data>
<app-tabla-funciones></app-tabla-funciones> -->

<!-- Alumnos en practica -->
<!-- Alumnos sin entregar informes -->
<!-- Docentes sin entregar informes -->

<!-- Footer -->