@if (
segundaPracticaAprobDesaproChart()
) {
  
<div class="bg-white shadow rounded p-4">
  <h2 class="text-lg font-semibold text-gray-700 mb-2 truncate" title="Aprobados/Reprobados Práctica II">
    Aprobados/Reprobados Práctica II</h2>
  <p-chart [data]="segundaPracticaAprobDesaproChart" [options]="practicaIIChartOptions" [type]="'doughnut'"
    height="230px">
  </p-chart>
</div>
} @else {
<div class="flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-6 border border-gray-200">
  <p class="text-lg text-center font-medium text-gray-700 mb-4">No hay alumnos aprobados en práctica II</p>
  <div class="bg-gray-100 p-4 rounded-full shadow-sm animate-pulse">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="48" height="48" stroke-width="2"
      stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-gray-500">
      <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3"></path>
      <path d="M4 6v6c0 1.657 3.582 3 8 3c1.118 0 2.182 -.086 3.148 -.241m4.852 -2.759v-6"></path>
      <path d="M4 12v6c0 1.657 3.582 3 8 3c1.064 0 2.079 -.078 3.007 -.22"></path>
      <path d="M19 16v3"></path>
      <path d="M19 22v.01"></path>
    </svg>
  </div>
</div>
}