<div class="p-6 bg-gray-100 min-h-screen">
    <!-- Encabezado -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-6">
        <h1 class="text-2xl bg-white shadow rounded px-5 py-3 font-bold text-gray-800">Bienvenido {{dataUser.nombre}}</h1>
    </div>

    <!-- Contenido Principal -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <!-- Columna Izquierda -->
        <div class="md:col-span-4 lg:col-span-1 space-y-6">
            <!-- Nueva Tabla Mejorada con Estadísticas -->
            <div class="bg-white shadow-xl rounded-lg p-8">
                <h2 class="text-lg font-semibold text-gray-700 mb-2">Estadísticas de Prácticas</h2>
                <div class="overflow-x-auto"> <!-- Establecemos el scroll en la tabla -->
                    <table class="min-w-full table-auto border-collapse rounded-md">
                        <thead class="bg-blue-500 text-white">
                            <tr>
                                <th class="py-4 px-6 text-left">Cantidad</th>
                                <th class="py-4 px-6 text-left">Categoría</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <tr class="border-b hover:bg-gray-50 transition-colors duration-300">
                                <td class="py-4 text-center border-r px-6">{{ estadisticasPractica.estudiantes_practica }}</td>
                                <td class="py-4 px-6 font-medium">Estudiantes en Práctica</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50 transition-colors duration-300">
                                <td class="py-4 text-center border-r px-6">{{ estadisticasPractica.estudiantes_revision }}</td>
                                <td class="py-4 px-6 font-medium">Estudiantes en Revisión</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50 transition-colors duration-300">
                                <td class="py-4 text-center border-r px-6">{{ estadisticasPractica.total_asignados }}</td>
                                <td class="py-4 px-6 font-medium">Informes Asignados</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50 transition-colors duration-300">
                                <td class="py-4 text-center border-r px-6">{{ estadisticasPractica.informes_sin_enviar }}</td>
                                <td class="py-4 px-6 font-medium">Informes de alumno sin enviar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Estadísticas, Gráficos y Detalles -->
        <div class="lg:col-span-3 md:col-span-4 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Gráfico de la Cantidad de Estudiantes por Tipo de Práctica -->
            <div *ngIf="cantidadEstudiantesTipoPracticaChartData?.datasets?.length > 0" class="col-span-1 bg-white shadow rounded p-4">
                <h2 class="text-lg font-semibold text-gray-700 mb-2">Cantidad de Estudiantes por practica</h2>

                <p-chart
                    [data]="cantidadEstudiantesTipoPracticaChartData"
                    [options]="cantidadEstudiantesTipoPracticaChartOptions"
                    [type]="'doughnut'"
                    height="230px">
                </p-chart>
            </div>

            <div *ngIf="!(cantidadEstudiantesTipoPracticaChartData?.datasets?.length > 0)" class="flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-6 border border-gray-200">
                <p class="text-lg text-center font-medium text-gray-700 mb-4">Aún no hay alumnos cursando practicas</p>
                <div class="bg-gray-100 p-4 rounded-full shadow-sm animate-pulse">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="48" height="48" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-gray-500">
                        <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3"></path>
                        <path d="M4 6v6c0 1.657 3.582 3 8 3c1.118 0 2.182 -.086 3.148 -.241m4.852 -2.759v-6"></path>
                        <path d="M4 12v6c0 1.657 3.582 3 8 3c1.064 0 2.079 -.078 3.007 -.22"></path>
                        <path d="M19 16v3"></path>
                        <path d="M19 22v.01"></path>
                    </svg>
                </div>
            </div>

            <!-- Gráfico de Aprobados y Reprobados Práctica I -->
            <div *ngIf="practicaIChartData" class="bg-white shadow rounded p-4">
                <h2 class="text-lg font-semibold text-gray-700 mb-2">Aprobados/Reprobados Práctica I</h2>
                <p-chart
                    [data]="practicaIChartData"
                    [options]="practicaIChartOptions"
                    [type]="'doughnut'"
                    height="230px">
                </p-chart>
            </div>
            <div *ngIf="!practicaIChartData" class="flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-6 border border-gray-200">
                <p class="text-lg text-center font-medium text-gray-700 mb-4">Aún no hay alumnos que hayan finalizado su práctica I</p>
                <div class="bg-gray-100 p-4 rounded-full shadow-sm animate-pulse">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="48" height="48" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-gray-500">
                        <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3"></path>
                        <path d="M4 6v6c0 1.657 3.582 3 8 3c1.118 0 2.182 -.086 3.148 -.241m4.852 -2.759v-6"></path>
                        <path d="M4 12v6c0 1.657 3.582 3 8 3c1.064 0 2.079 -.078 3.007 -.22"></path>
                        <path d="M19 16v3"></path>
                        <path d="M19 22v.01"></path>
                    </svg>
                </div>
            </div>

            <!-- Gráfico de Aprobados y Reprobados Práctica II -->
            <div *ngIf="practicaIIChartData" class="bg-white shadow rounded p-4">
                <h2 class="text-lg font-semibold text-gray-700 mb-2">Aprobados/Reprobados Práctica II</h2>
                <p-chart
                    [data]="practicaIIChartData"
                    [options]="practicaIIChartOptions"
                    [type]="'doughnut'"
                    height="230px">
                </p-chart>
            </div>
            <div *ngIf="!practicaIIChartData" class="flex flex-col items-center justify-center bg-white shadow-lg rounded-lg p-6 border border-gray-200">
                <p class="text-lg text-center font-medium text-gray-700 mb-4">Aún no hay alumnos que hayan finalizado su práctica II</p>
                <div class="bg-gray-100 p-4 rounded-full shadow-sm animate-pulse">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="48" height="48" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" class="text-gray-500">
                        <path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3"></path>
                        <path d="M4 6v6c0 1.657 3.582 3 8 3c1.118 0 2.182 -.086 3.148 -.241m4.852 -2.759v-6"></path>
                        <path d="M4 12v6c0 1.657 3.582 3 8 3c1.064 0 2.079 -.078 3.007 -.22"></path>
                        <path d="M19 16v3"></path>
                        <path d="M19 22v.01"></path>
                    </svg>
                </div>
            </div>

            <!-- Gráfico de la Percepción de las Empresas -->
            <div class="col-span-1 bg-white shadow rounded p-4">
                <h2 class="text-lg font-semibold text-gray-700 mb-2">Percepción de Empresas</h2>
                <p-chart
                    [data]="percepcionEmpresasChartData"
                    [options]="percepcionEmpresasChartOptions"
                    [type]="'doughnut'"
                    height="230px">
                </p-chart>
            </div>

            <!-- Gráfico de Barras: Cantidad de Prácticas por Mes -->
            <div class="col-span-2 bg-white shadow rounded p-4">
                <h2 class="text-lg font-semibold text-gray-700 mb-4">Prácticas por Mes</h2>
                <p-chart 
                    [data]="mesChartData" 
                    [options]="mesChartOptions" 
                    [type]="'bar'"
                    height="300px">
                </p-chart>
            </div>
        </div>
    </div>
</div>
