<app-header-jefe-empleador></app-header-jefe-empleador>

<div *ngIf="cargando" class="absolute top-0 left-0 w-full h-[calc(100%)] flex justify-center items-center pointer-events-none">
  <div class="flex space-x-2">
    <!-- Puntos animados con rebote e iluminación progresiva -->
    <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
         style="animation-delay: 0s"></div>
    <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
         style="animation-delay: 0.2s"></div>
    <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
         style="animation-delay: 0.4s"></div>
  </div>
</div>

<div *ngIf="!cargando" class="bg-gray-50 py-12 flex items-center justify-center min-h-screen">
    <div class="container max-w-screen-lg p-10 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-center text-blue-800 mb-6">Formulario de Seguimiento de Práctica</h1>
        <p class="text-center text-gray-600 mb-10">Por favor, complete las preguntas para ayudar en el seguimiento del
            desempeño del alumno en su práctica profesional.</p>

        <div *ngIf="!datos_listo" class="w-full max-w-4xl mx-auto p-8 rounded-md mb-5">
            <form [formGroup]="formularioDatos">
            <!-- Fechas -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 gap-y-10">
            <!-- Fecha Inicio -->
            <p-floatLabel>
                <p-calendar
                id="fecha_inicio"
                formControlName="fecha_inicio_practica"
                dateFormat="dd-mm-yy"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showIcon]="false"
                ></p-calendar>
                <label for="fecha_inicio">Fecha Inicio</label>
            </p-floatLabel>
        
            <!-- Fecha Término -->
            <p-floatLabel>
                <p-calendar
                id="fecha_termino"
                formControlName="fecha_fin_practica"
                dateFormat="dd-mm-yy"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showIcon]="false"
                ></p-calendar>
                <label for="fecha_termino">Fecha Término</label>
            </p-floatLabel>

                                <!-- Horas Semanales -->
            <p-floatLabel>
            <p-inputNumber
                id="horas_semanales"
                formControlName="horas_semanales"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showButtons]="false"
            ></p-inputNumber>
            <label for="horas_semanales">Horas Semanales de Trabajo</label>
            </p-floatLabel>

            <p-floatLabel>
            <p-inputNumber
                id="horas_regulares"
                formControlName="horas_practicas_regulares"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showButtons]="false"
            ></p-inputNumber>
            <label for="horas_regulares">Horas de Prácticas Regulares</label>
            </p-floatLabel>
    
            <!-- Horas Extraordinarias -->
            <p-floatLabel>
            <p-inputNumber
                id="horas_extraordinarias"
                formControlName="horas_practicas_extraordinarias"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showButtons]="false"
            ></p-inputNumber>
            <label for="horas_extraordinarias">Horas de Prácticas Extraordinarias</label>
            </p-floatLabel>

            <p-floatLabel>
            <p-inputNumber
                id="horas_inasistencia"
                formControlName="horas_inasistencia"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full py-1 border-0 rounded-none border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-500"
                [showButtons]="false"
            ></p-inputNumber>
            <label for="horas_inasistencia">Horas de Inasistencia</label>
            </p-floatLabel>
            </div>
            </form>
        </div>

        <!-- Contenedor de preguntas con paginación -->
        <div *ngIf="datos_listo">
            <div class="preguntas-container min-h-[450px] mb-6">
                <div *ngFor="let preg of preguntas | paginate: { itemsPerPage: 3, currentPage: page }; let i = index"
                    class="pregunta bg-blue-50 rounded-lg p-6 mb-6 shadow-sm">
                    <p class="text-lg font-semibold text-gray-700">{{ preg.enunciado_pregunta }}</p>

                    <div *ngIf="preg.tipo_pregunta == 'CERRADA'" class="respuestas mt-4 space-y-3">
                        <div *ngFor="let value of [1, 2, 3, 4, 5]" class="flex items-center">
                            <p-radioButton 
                                [inputId]="'experiencia_' + (i + (page-1) * preguntas_paginas) + '_' + value" 
                                [name]="'experiencia_' + (i + (page-1) * preguntas_paginas)" 
                                [value]="value" 
                                [(ngModel)]="respuestasSupervisor[i + (page-1) * preguntas_paginas]!.puntos" 
                                (ngModelChange)="actualizarRespuesta(preg.id_pregunta, { id_informe: idInforme, id_pregunta: preg.id_pregunta, puntos: respuestasSupervisor[i + (page-1) * preguntas_paginas]!.puntos })">
                            </p-radioButton>
                            <label 
                                [for]="'experiencia_' + (i + (page-1) * preguntas_paginas) + '_' + value" 
                                class="ml-2 text-gray-600 text-sm cursor-pointer">
                                {{ value }} - {{ getOptionText(value) }}
                            </label>    
                        </div>
                    </div>
                    
                    <!-- Pregunta Abierta -->
                    <div *ngIf="preg.tipo_pregunta == 'ABIERTA'" class="respuestas mt-4 space-y-3">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Tu respuesta</label>
                            <textarea pInputTextarea id="message" [(ngModel)]="respuestasSupervisor[i + (page-1) * preguntas_paginas]!.respuesta_texto" (ngModelChange)="actualizarRespuesta(preg.id_pregunta, {id_informe: idInforme, id_pregunta: preg.id_pregunta, respuesta_texto: $event })" rows="4" autoResize="true" placeholder="Deja tu respuesta aquí" class="w-full text-sm">
                        </textarea>
                    </div>

                    <!-- Pregunta Evaluativa -->
                    <div *ngIf="preg.tipo_pregunta === 'HABILIDADES_TECNICAS'" class="respuestas mt-4 space-y-3">
                        <!-- Botones de selección para habilidades -->
                        <div *ngFor="let value of habilidadesOpciones" class="flex items-center">
                          <p-radioButton 
                            [inputId]="'habilidad_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            [name]="'habilidad_' + (i + (page - 1) * preguntas_paginas)" 
                            [value]="value" 
                            [(ngModel)]="respuestasSupervisor[i + (page - 1) * preguntas_paginas]!.respuesta_texto" 
                            (ngModelChange)="actualizarRespuesta(preg.id_pregunta, { id_informe: idInforme, id_pregunta: preg.id_pregunta, respuesta_texto: value })"
                          >
                          </p-radioButton>
                          <label 
                            [for]="'habilidad_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            class="ml-2 text-gray-600 text-sm cursor-pointer">
                            {{ value }}
                          </label>    
                        </div>
                      
                        <!-- Campo de texto para otras herramientas -->
                        <div class="mt-4">
                          <input
                            type="text"
                            class="w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500 text-sm"
                            placeholder="Escriba otra herramienta"
                            [(ngModel)]="respuestasSupervisor[i + (page - 1) * preguntas_paginas]!.respuesta_texto"
                            (ngModelChange)="actualizarInputText(preg.id_pregunta, $event)"
                          />
                        </div>
                      </div>
                      
                      

                      <div *ngIf="preg.tipo_pregunta === 'VINCULACION_MEDIO'" class="respuestas mt-4 space-y-3">
                        <!-- Opciones Sí, No y Tal vez -->
                        <div *ngFor="let value of ['Sí', 'No', 'Tal vez']" class="flex items-center">
                          <p-radioButton 
                            [inputId]="'vinculacion_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            [name]="'vinculacion_' + (i + (page - 1) * preguntas_paginas)" 
                            [value]="value" 
                            [(ngModel)]="respuestasSupervisor[i + (page - 1) * preguntas_paginas]!.respuesta_texto" 
                            (ngModelChange)="actualizarRespuesta(preg.id_pregunta, { id_informe: idInforme, id_pregunta: preg.id_pregunta, respuesta_texto: value })"
                          >
                          </p-radioButton>
                          <label 
                            [for]="'vinculacion_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            class="ml-2 text-gray-600 text-sm cursor-pointer">
                            {{ value }}
                          </label>    
                        </div>
                      </div>
                      
                      
                        
                      <div *ngIf="preg.tipo_pregunta === 'SALARIO_ESTIMADO'" class="respuestas mt-4 space-y-3">
                        <!-- Opciones Salariales -->
                        <div *ngFor="let value of [
                          'Menos de $500.000', 
                          'Entre $500.001 y $700.000', 
                          'Entre $700.001 y $1.000.000', 
                          'Más de $1.000.001'
                        ]" class="flex items-center">
                          <p-radioButton 
                            [inputId]="'salario_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            [name]="'salario_' + (i + (page - 1) * preguntas_paginas)" 
                            [value]="value" 
                            [(ngModel)]="respuestasSupervisor[i + (page - 1) * preguntas_paginas]!.respuesta_texto" 
                            (ngModelChange)="actualizarRespuesta(preg.id_pregunta, { id_informe: idInforme, id_pregunta: preg.id_pregunta, respuesta_texto: value })"
                          >
                          </p-radioButton>
                          <label 
                            [for]="'salario_' + (i + (page - 1) * preguntas_paginas) + '_' + value" 
                            class="ml-2 text-gray-600 text-sm cursor-pointer">
                            {{ value }}
                          </label>    
                        </div>
                      </div>
                      
                      
                </div>
            </div>

            <!-- Controles de paginación -->
            <div class="nav-buttons text-center mb-4">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
                    class="controles_navegacion"></pagination-controls>
            </div>
          </div>
          <!-- Botón de enviar en la última página -->
        <div class="text-center space-x-5" *ngIf="page === preguntas_len">
            <button
                *ngIf="datos_listo"
                class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-200 mt-4"
                (click)="changeForm()">Volver</button>
            <button
                class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-200 mt-4"
                (click)="!datos_listo? changeForm() : enviarRespuesta()">{{!datos_listo? 'Continuar' : 'Enviar Respuestas'}}</button>
        </div>
    </div>
</div>