<div class="min-h-screen bg-gray-100 flex items-center justify-center p-6">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-sm w-full">
        <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">Cambia tu Contraseña</h1>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <!-- Contraseña actual -->
            <div class="relative">
                <label for="oldPassword" class="block text-sm font-medium text-gray-700">Contraseña Actual</label>
                <input id="oldPassword" [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword"
                    placeholder="••••••••"
                    class="mt-1 block w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
                <button type="button" (click)="togglePasswordVisibility('oldPassword')"
                    class="absolute inset-y-0 right-3 flex items-center justify-center cursor-pointer h-full w-10 mt-3  text-gray-500"
                    aria-label="Mostrar/Ocultar contraseña">
                    <span *ngIf="showOldPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                            </path>
                        </svg>
                    </span>
                    <span *ngIf="!showOldPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                            <path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87">
                            </path>
                            <path d="M3 3l18 18"></path>
                        </svg>
                    </span>
                </button>
            </div>

            <!-- Nueva contraseña -->
            <div class="relative">
                <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
                <input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
                    placeholder="••••••••"
                    class="mt-1 block w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
                <p *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength') && changePasswordForm.get('newPassword')?.touched"
                    class="text-sm text-red-500 mt-1">
                    La contraseña debe tener al menos 8 caracteres.
                </p>
                <p *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern') && changePasswordForm.get('newPassword')?.touched"
                    class="text-sm text-red-500 mt-1">
                    La contraseña debe incluir al menos una letra mayúscula y un carácter especial.
                </p>
                <button type="button" (click)="togglePasswordVisibility('newPassword')"
                    class="absolute inset-y-0 right-3 flex items-center justify-center h-full mt-3 w-10 text-gray-500"
                    aria-label="Mostrar/Ocultar contraseña">
                    <span *ngIf="showNewPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                            </path>
                        </svg>
                    </span>
                    <span *ngIf="!showNewPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                            <path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87">
                            </path>
                            <path d="M3 3l18 18"></path>
                        </svg>
                    </span>
                </button>
            </div>

            <!-- Confirmar nueva contraseña -->
            <div class="relative">
                <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirma tu Nueva
                    Contraseña</label>
                <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
                    formControlName="confirmPassword" placeholder="••••••••"
                    class="mt-1 block w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300" />
                <p *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched"
                    class="text-sm text-red-500 mt-1">
                    Las contraseñas no coinciden.
                </p>
                <button type="button" (click)="togglePasswordVisibility('confirmPassword')"
                    class="absolute inset-y-0 right-3 flex items-center justify-center h-full cursor-pointer mt-3 w-10 text-gray-500"
                    aria-label="Mostrar/Ocultar contraseña">
                    <span *ngIf="showConfirmPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6">
                            </path>
                        </svg>
                    </span>
                    <span *ngIf="!showConfirmPassword">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                            <path
                                d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87">
                            </path>
                            <path d="M3 3l18 18"></path>
                        </svg>
                    </span>
                </button>
            </div>

            <!-- Botón de cambiar contraseña -->
            <button type="submit" [disabled]="changePasswordForm.invalid"
                class="w-full bg-indigo-500 hover:bg-indigo-600 text-white font-medium py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-300 disabled:bg-gray-400 disabled:cursor-not-allowed">
                Cambiar Contraseña
            </button>
        </form>

        <!-- Mensajes dinámicos -->
        <p *ngIf="errorMessage" class="text-sm text-red-500 mt-4 text-center">
            {{ errorMessage }}
        </p>
        <p *ngIf="successMessage" class="text-sm text-green-500 mt-4 text-center">
            {{ successMessage }}
        </p>
    </div>
</div>
