<!-- Header -->

<!-- Main -->
<div class="">
    <div class="">
        <h2>Bienvenido Jefe de Alumno</h2>
    </div>
    
    <div>
        <h2>Revisa los informes confidenciales pendientes</h2>
        <button>Ver</button> <!-- Debe ir al formulario -->
    </div>
</div>

<div>
    <div>
        <h2>Informes confidenciales</h2>
    </div>

    <div class="container-informes">
        <div class="informe">
            <!-- Practica 1 | Nombre del alumno prácticante | rut del alumno | horas práctica en formato card-->
            <button>Realizar Informe</button>
        </div>
    </div>
</div>