<app-header></app-header>

<div class="bg-gray-50 min-h-screen">
    <div class="bg-gray-50 py-12 flex items-center justify-center">
        <div class="container max-w-screen-lg p-10 bg-white rounded-lg shadow-lg">
            <div *ngIf="!datos_listo">
                <h1 class="text-3xl font-bold text-center text-blue-700 mb-6">Encuesta de Satisfacción de la Experiencia de Práctica</h1>
                <p class="text-center text-gray-600 mb-10">Por favor, responda las preguntas
                    reflexionando sobre tu desempeño, aprendizaje y satisfacción durante tu periodo de práctica profesional, con el objetivo de mejorar futuras experiencias formativas</p>
        
                <div class="preguntas-container min-h-[450px] mb-6">
                    <div *ngFor="let preg of preguntas | paginate: { itemsPerPage: 3, currentPage: page }; let i = index"
                        class="pregunta bg-blue-50 rounded-lg p-6 mb-6 shadow-sm">
                        <p class="text-lg font-semibold text-gray-700">{{ preg.enunciado }}</p>
        
                        <div *ngIf="preg.tipo == 'Cerrada'" class="respuestas mt-4 space-y-3">
                            <label class="flex items-center" *ngFor="let value of [1, 2, 3, 4, 5]">
                                <input type="radio" [name]="'experiencia_' + (i + page * preguntas_paginas)" [value]="value"
                                    [(ngModel)]="respuestas[i + page * preguntas_paginas]"
                                    class="form-radio h-4 w-4 text-blue-600">
                                <span class="ml-3 text-gray-600">{{ value }} - {{ getOptionText(value) }} </span>
                            </label>
                        </div>
                        <div *ngIf="preg.tipo == 'Abierta'" class="respuestas mt-4 space-y-3">
        
                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Tu
                                respuesta</label>
                            <textarea id="message" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500  dark:placeholder-gray-400 dark:text-black resize-none"
                                placeholder="Deja tu respuesta aquí"></textarea>
        
                        </div>
                        <div *ngIf="preg.tipo == 'Evaluativa'" class="respuestas mt-4 space-y-3">
        
                            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Tu
                                respuesta</label>
        
                            <label for="number-input"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Califica
                            </label>
                            <input type="number" id="number-input" aria-describedby="helper-text-explanation"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  resize-none"
                                placeholder="7.0" required />
                        </div>
                        <div *ngIf="preg.tipo == 'Asignaturas'" class="respuestas mt-4 space-y-3">
        
                            <!-- Agregar libreria para visualizar y hacer zoom a la imagen -->
                            <!-- <img src="malla.jpg" alt=""> -->
        
                            <div class="mt-6">
                                <h2 *ngIf="asignaturas_seleccionadas.length != 0" class="text-sm font-medium text-gray-700">Asignaturas seleccionadas:</h2>
                                <div *ngFor="let asignatura of asignaturas_seleccionadas" class="flex w-3/6 justify-between bg-blue-100 p-2 rounded-2xl my-2 mx-2 items-center">
                                    <p class="text-sm text-gray-600 ms-1">{{ asignatura }}</p>
                                    <button
                                        class="ms-2 text-red-500 hover:text-red-700 me-1"
                                        (click)="eliminarAsignatura(asignatura)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
        
                            <div *ngIf="asignaturas_seleccionadas.length < 4" class="flex items-center w-3/6">
                                <select class="block p-2 w-full ms-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black"
                                [(ngModel)]="asignaturaSeleccionada">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option *ngFor="let asignatura of obtenerAsignaturasDisponibles()" [value]="asignatura">
                                        {{ asignatura }}
                                    </option>
                                </select>
                                <button
                                    class="ml-2 px-3 py-1 text-blue-600 font-semibold rounded hover:text-blue-700" (click)="agregarAsignatura()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
        
                <!-- Controles de paginación -->
                <div class="nav-buttons text-center mb-4">
                    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
                        class="controles_navegacion"></pagination-controls>
                </div>
                
                  <!-- Botón de subir informe en la última página -->
                <div class="text-center" *ngIf="page === preguntas_len">
                    <button
                        class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-700 transition duration-200 mt-4"
                        (click)="changeForm()"
                        >Subir informe</button>
                </div>
            </div>
        
            <div *ngIf="datos_listo">
                <div class="text-center">
                    <h2 class="text-3xl font-bold text-blue-700 mb-2">Sube tu Informe de Práctica Profesional</h2>
                    <p class="text-gray-600">Por favor, asegúrate de que el archivo esté en formato PDF y cumpla con los requisitos especificados.</p>
                </div>
            
                <div class="flex items-center justify-center w-full mt-8">
                    <div class="flex flex-col items-center justify-center w-full max-w-lg p-6 h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-50 shadow-md"
                         (drop)="onDrop($event)"
                         (dragover)="onDragOver($event)"
                         (click)="seleccionarArchivo()">
            
                        <!-- Placeholder for when no file is uploaded -->
                        <div *ngIf="!uploadedFile" class="flex flex-col items-center justify-center">
                            <svg class="w-10 h-10 mb-3 text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="text-lg font-semibold text-gray-700 mb-1">Arrastra y suelta tu archivo aquí</p>
                            <p class="text-sm text-gray-500">o haz clic para seleccionar el archivo</p>
                            <p class="text-xs text-gray-400 mt-1">Solo se permiten archivos en formato PDF.</p>
                        </div>
                        
                        <!-- Message for when a file is uploaded -->
                        <div *ngIf="uploadedFile" class="text-center text-green-600">
                            <p class="mb-2 font-semibold">Archivo "{{ uploadedFile.name }}" subido correctamente</p>
                            <button class="mt-2 px-3 py-1 bg-blue-600 text-white text-sm rounded hover:bg-blue-700" (click)="removeFile()">Subir otro archivo</button>
                        </div>
            
                        <!-- Hidden input for file selection -->
                        <input id="dropzone-file" type="file" class="hidden" accept="application/pdf" (change)="onFileSelect($event)" />
                    </div>
                </div>
        
                <div class="flex justify-center space-x-5 mt-10 max-w-lg w-full mx-auto">
                    <!-- Botón de volver al cuestionario -->
                    <button
                        class="bg-blue-600 text-white font-semibold py-2 w-full rounded-lg shadow-md hover:bg-blue-700 transition duration-200"
                        (click)="changeForm()">Volver al cuestionario
                    </button>
            
                    <!-- Botón de enviar informe -->
                    <button
                        class="bg-blue-600 text-white font-semibold py-2 w-full rounded-lg shadow-md hover:bg-blue-700 transition duration-200"
                        (click)="goTofin()">Enviar informe
                    </button>
                </div>
        
                <!-- Display error message if the uploaded file is not a PDF -->
                <div *ngIf="errorMessage" class="mt-4 text-center text-red-600">
                    <p>{{ errorMessage }}</p>
                    <p class="text-sm text-gray-500">Asegúrate de subir un archivo PDF válido para evitar problemas de entrega.</p>
                </div>
            </div>
        </div>
    </div>
</div>

