<div class="container mx-auto p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Formulario de seguimiento de práctica</h1>

    <div class="pregunta mb-4" *ngFor="let preg of preguntas">
        <p class="text-lg font-semibold">{{preg}}</p>
        <div class="respuestas mb-6">
            <label class="flex items-center mb-2">
                <input type="radio" name="experiencia" value="1" class="form-radio h-4 w-4 text-blue-600">
                <span class="ml-2">1 - Muy en desacuerdo</span>
            </label>
            <label class="flex items-center mb-2">
                <input type="radio" name="experiencia" value="2" class="form-radio h-4 w-4 text-blue-600">
                <span class="ml-2">2 - En desacuerdo</span>
            </label>
            <label class="flex items-center mb-2">
                <input type="radio" name="experiencia" value="3" class="form-radio h-4 w-4 text-blue-600">
                <span class="ml-2">3 - Neutral</span>
            </label>
            <label class="flex items-center mb-2">
                <input type="radio" name="experiencia" value="4" class="form-radio h-4 w-4 text-blue-600">
                <span class="ml-2">4 - De acuerdo</span>
            </label>
            <label class="flex items-center mb-2">
                <input type="radio" name="experiencia" value="5" class="form-radio h-4 w-4 text-blue-600">
                <span class="ml-2">5 - Muy de acuerdo</span>
            </label>
        </div>
    </div>

 

    <div class="text-center">
        <button class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Enviar Respuestas</button>
    </div>
</div>
