<!-- Header -->

<!--Main content: depends of role -->
<div class="max-w-5xl mx-auto mt-12 px-4 text-center">
    <div class="w-full max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold text-blue-800 mt-2 mb-6">Sistema de Seguimiento de Prácticas Profesionales</h1>
        <p class="px-4 leading-relaxed text-gray-700">
            Este sistema está diseñado para facilitar la gestión de informes y el seguimiento de resultados,
            brindando acceso a estudiantes, jefes de empleados, académicos y secretarías.
        </p>

        <div class="mt-6">
            <button class="inline-block py-4 px-8 leading-none text-white bg-blue-600 hover:bg-blue-700 rounded shadow text-sm font-semibold transition duration-300"
               (click)="toLogin()">Iniciar Sesión</button>
        </div>
    </div>
</div>

<!-- Footer -->