<div class="space-y-6">
    <div class="border-b pb-4">
      <h3 class="text-xl font-semibold text-gray-800">Información General</h3>
    </div>
    <div class="grid grid-cols-2 gap-6 text-sm">
      <div>
        <p class="text-gray-500">Alumno</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.nombre_alumno }}</p>
      </div>
      <div>
        <p class="text-gray-500">Tipo de Práctica</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.tipo_practica == 'PRACTICA_UNO' ? 'Práctica I'
          : 'Práctica II' }}</p>
      </div>
      <div>
        <p class="text-gray-500">Modalidad</p>
        <p class="font-medium text-gray-900">{{ textoModalidad[practicaAlumno()!.modalidad] }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">Estado Práctica</p>
        <p class="text-base font-medium truncate" [ngClass]="{
                'text-blue-600': practicaAlumno()?.estado === 'CURSANDO',
                'text-red-600': practicaAlumno()?.estado === 'ESPERA_INFORMES',
                'text-green-500': practicaAlumno()?.estado === 'INFORMES_RECIBIDOS',
                'text-yellow-600': practicaAlumno()?.estado === 'REVISION_GENERAL',
                'text-green-600': practicaAlumno()?.estado === 'FINALIZADA'
              }">
          {{ textoEstadoPractica[practicaAlumno()!.estado] }}
        </p>
      </div>

      <!-- Estado Informe Alumno -->
      <div *ngIf="!['CURSANDO'].includes(practicaAlumno()!.estado)">
        <p class="text-gray-500">Estado Informe Alumno</p>
        <p class="text-base font-medium" [ngClass]="{
                'text-blue-600': practicaAlumno()!.informe_alumno.estado === 'ENVIADA',
                'text-red-600': practicaAlumno()!.informe_alumno.estado=== 'ESPERA',
                'text-red-800': practicaAlumno()!.informe_alumno.estado === 'DESAPROBADA',
                'text-yellow-600': practicaAlumno()!.informe_alumno.estado === 'REVISION',
                'text-orange-600': practicaAlumno()!.informe_alumno.estado === 'CORRECCION',
                'text-green-600': practicaAlumno()!.informe_alumno.estado === 'APROBADA'
              }">
          {{ textoEstadoInforme[practicaAlumno()!.informe_alumno.estado] }}
        </p>
      </div>

      <!-- Estado Informe Confidencial -->
      <div *ngIf="!['CURSANDO'].includes(practicaAlumno()!.estado)">
        <p class="text-sm text-gray-500">Estado Informe Confidencial</p>
        <p class="text-base font-medium truncate" [ngClass]="{
                'text-blue-600': practicaAlumno()!.informe_confidencial.estado === 'ENVIADA',
                'text-red-600': practicaAlumno()!.informe_confidencial.estado === 'ESPERA',
                'text-red-800': practicaAlumno()!.informe_confidencial.estado === 'DESAPROBADA',
                'text-yellow-600': practicaAlumno()!.informe_confidencial.estado === 'REVISION',
                'text-orange-600': practicaAlumno()!.informe_confidencial.estado === 'CORRECCION',
                'text-green-600': practicaAlumno()!.informe_confidencial.estado === 'APROBADA'
              }">
          {{ textoEstadoInforme[practicaAlumno()!.informe_confidencial.estado] }}
        </p>
      </div>
    </div>
  </div>

  <!-- Fechas y Horas -->
  <div class="space-y-6">
    <div class="border-b pb-4">
      <h3 class="text-xl font-semibold text-gray-800">Fechas y Horas</h3>
    </div>
    <div class="grid grid-cols-2 gap-6 text-sm">
      <div>
        <p class="text-gray-500">Fecha de Inicio</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.fecha_inicio | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div>
        <p class="text-gray-500">Fecha de Finalización</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.fecha_termino | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div>
        <p class="text-gray-500">Cantidad de Horas</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.cantidad_horas }} horas</p>
      </div>
      <div>
        <p class="text-gray-500">Horas Semanales</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.horas_semanales }} horas/semana</p>
      </div>
    </div>
  </div>

  <div class="space-y-6" *ngIf="practicaAlumno()?.estado !== 'CURSANDO'">
    <div class="border-b pb-4">
      <h3 class="text-xl font-semibold text-gray-800">Empresa</h3>
    </div>
    <div class="grid grid-cols-2 gap-6 text-sm">
      <div>
        <p class="text-gray-500">Empresa</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.nombre_empresa }}</p>
      </div>
      <div>
        <p class="text-gray-500">Rubro de Empresa</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.informe_confidencial.supervisor.empresa.rubro
          }}</p>
      </div>
      <div>
        <p class="text-gray-500">Ubicación de Empresa</p>
        <p class="font-medium text-gray-900">{{
          practicaAlumno()!.informe_confidencial.supervisor.empresa.ubicacion }}</p>
      </div>
      <div>
        <p class="text-gray-500">Carácter de Empresa</p>
        <p class="font-medium text-gray-900">{{
          practicaAlumno()!.informe_confidencial.supervisor.empresa.ubicacion }}</p>
      </div>
      <div>
        <p class="text-gray-500">Supervisor</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.nombre_supervisor }}</p>
      </div>
      <div>
        <p class="text-gray-500">Correo Supervisor</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()!.informe_confidencial.supervisor.usuario.correo
          }}</p>
      </div>
    </div>
  </div>

  <div class="space-y-6"
    *ngIf="practicaAlumno()?.estado !== 'CURSANDO' && practicaAlumno()?.informe_confidencial?.total_horas">
    <div class="border-b pb-4">
      <h3 class="text-xl font-semibold text-gray-800">Horas Realizadas</h3>
    </div>
    <div class="grid grid-cols-2 gap-6 text-sm">
      <div>
        <p class="text-gray-500">Total de Horas</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.informe_confidencial?.total_horas }} horas</p>
      </div>
      <div>
        <p class="text-gray-500">Horas extraordinarias</p>
        <p class="font-medium text-gray-900">{{
          practicaAlumno()?.informe_confidencial?.horas_practicas_extraordinarias }} horas</p>
      </div>
      <div>
        <p class="text-gray-500">Horas regulares</p>
        <p class="font-medium text-gray-900">{{
          practicaAlumno()?.informe_confidencial?.horas_practicas_regulares }} horas</p>
      </div>
      <div>
        <p class="text-gray-500">Horas de Inasistencia</p>
        <p class="font-medium text-gray-900">{{ practicaAlumno()?.informe_confidencial?.horas_inasistencia }}
          horas</p>
      </div>
    </div>
  </div>