@if (this.dataEstadisticaAlumno.verDetallePractica()) { 
<p-dialog [visible]="this.dataEstadisticaAlumno.verDetallePractica()" [modal]="true" [draggable]="false" [closable]="false" [dismissableMask]="true"
  [style]="{ width: '47rem' }">
  <!-- Header -->
  <ng-template pTemplate="header">
    <div class="text-center mx-auto py-4">
      <h2 class="text-2xl font-semibold text-blue-700">Detalles de la Práctica</h2>
    </div>
  </ng-template>

  <!-- Content -->

  <ng-template pTemplate="content">
    <div class="space-y-8">
      <!-- Animación de carga -->
      @if (!practicaAlumno()) {
        <div class="flex justify-center items-center py-8">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
      } @else {
        <!-- Información General  Recibir practica-->
        <app-modal-detalles-informacion-general [practicaAlumno]="practicaAlumno()" />
        <!-- Cierre componente información general -->

        <!-- Componente info academico -->
        <app-modal-detalles-info-academico-practica [data]="{
          practica: practicaAlumno()!,
          academico: academico()!
        }"/>
        <!-- Cierr componente info academico-->
      }
    </div>
  </ng-template>

  <!-- Footer -->
  <ng-template pTemplate="footer">
    <div class="flex justify-end space-x-6">
      <button type="button" class="bg-gray-400 hover:bg-gray-500 text-white text-sm font-medium px-4 py-2 rounded-lg"
        (click)="this.dataEstadisticaAlumno.mostrarPractica()"> <!-- output, sale al padre y se entrega el hijo (o puede ser un valor de un servicio also)-->
        Cerrar
      </button>
    </div>
  </ng-template>
</p-dialog>
}