<div
    class=" shadow-[0px_3px_8.0px_rgba(0,0,0,0.24)] rounded-lg min-h-[10rem] h-[30rem] min-w-[10rem] w-[30rem] max-w-[40rem] mt-[2rem] ml-[1rem]">

    <div class="data p-6">

        <div class=" mt-5 h-[8rem] p-4">  
            <h2 class="text-4xl opacity-60">
                Bienvenido 
                <span class="text-2xl">
                    Francisca Salvia
                </span>
            </h2>
            <small class="opacity-50">Academico</small>
        </div>

        <div class="estado mt-1 h-[8rem] grid grid-cols-2 p-4 divide-x-2">
            <div class="text-center p-2">
                <p class="text-6xl">4</p>
                <span class="opacity-50">
                    Informes Revisados
                </span>
            </div>
            <div class="text-center p-2">
                <p class="text-6xl">4</p>
                <span class="opacity-50">
                    Informes Pendientes
                </span>
            </div>
        </div>

        <div class="flex justify-evenly mt-4">
            <button class="rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
                Detalle
            </button>
            <button class="rounded-md bg-blue-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-blue-700 focus:shadow-none active:bg-blue-700 hover:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">
                Perfil
            </button>
        </div>
    </div>
</div>