<div class="p-6 bg-gray-100 min-h-screen">
    <!-- Encabezado -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-6">
        <h1 class="text-2xl bg-white shadow rounded px-5 py-3 font-bold text-gray-800">Bienvenido {{dataJefe?.nombre}}</h1>
    </div>

    <!-- Contenido Principal -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <!-- Columna Izquierda -->
        <div class="col-span-1 space-y-6">
            <!-- Información del Usuario y Empresa -->
            <div class="bg-white shadow rounded-lg p-6">
                <h2 class="text-lg font-semibold text-gray-700 mb-4">Información del Usuario</h2>
                <div *ngIf="dataEmpresa" class="space-y-4">
                    <div class="flex justify-between items-center">
                        <span class="font-medium text-gray-600">Empresa:</span>
                        <span class="text-gray-900 font-semibold break-words">{{dataEmpresa.nombre_razon_social}}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-medium text-gray-600">Rubro:</span>
                        <span class="text-gray-900 font-semibold">{{dataEmpresa.rubro}}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-medium text-gray-600">Cargo:</span>
                        <span class="text-gray-900 font-semibold">{{dataJefe?.cargo}}</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-medium text-gray-600">Dirección:</span>
                        <span class="text-gray-900 font-semibold break-words">{{dataEmpresa.ubicacion}}</span>
                    </div>
                </div>
            </div>
            
            

            <!-- Listado de Informes Pendientes -->
            <div class="bg-white shadow rounded p-6 h-[500px]">
                <h2 class="text-lg font-semibold text-gray-700 mb-4">Informes Pendientes</h2>

                <!-- Mostrar mensaje si no hay informes -->
                <div *ngIf="informesPendientesList.length === 0" class="flex items-center space-x-5 my-5">
                  <i class="pi pi-info-circle text-blue-500 text-3xl"></i>
                  <p class="text-gray-500">No hay informes pendientes por enviar.</p>
                </div>

                <p-listbox 
                    *ngIf="informesPendientesList.length > 0"
                    [options]="informesPendientesList" 
                    [(ngModel)]="selectedInforme"
                    optionLabel="nombre" 
                    (onChange)="realizarInforme(selectedInforme.id_practica)"
                    [listStyle]="{'max-height': '400px'}">
                  <ng-template let-informe pTemplate="item">
                    <div class="flex flex-col">
                      <span class="text-gray-800 font-medium">{{ tipoPractica[informe.tipo_practica]}}</span>
                      <small class="text-gray-500">Alumno: {{ informe.nombre_alumno }}</small>
                      <small class="text-gray-500">Días restantes: {{ informe.dias_restantes }}</small>
                    </div>
                  </ng-template>
                </p-listbox>
            </div>
        </div>

        <!-- Estadísticas, Gráficos y Detalles -->
        <div class="col-span-3 grid grid-cols-4 gap-6">
            <!-- Paneles Resumidos -->
            <div class="col-span-4 grid grid-cols-1 md:grid-cols-3 gap-6">
              <!-- Cuadro 1: Alumnos Asignados -->
              <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col justify-center items-center">
                <ng-container *ngIf="alumnosAsignados > 0; else noAlumnosAsignados">
                  <h2 class="text-lg font-semibold text-gray-700">Alumnos Asignados</h2>
                  <p class="text-3xl text-blue-600 font-bold">{{ alumnosAsignados }}</p>
                </ng-container>
                <ng-template #noAlumnosAsignados>
                  <div class="flex flex-col items-center text-center">
                    <i class="pi pi-user text-blue-300 text-4xl mb-2"></i>
                    <p class="text-gray-500 text-sm font-semibold">Aún no hay alumnos asignados.</p>
                  </div>
                </ng-template>
              </div>
            
              <!-- Cuadro 2: Informes Pendientes -->
              <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col justify-center items-center">
                <ng-container *ngIf="informesPendientes > 0; else noInformesPendientes">
                  <h2 class="text-lg font-semibold text-gray-700">Informes Pendientes</h2>
                  <p class="text-3xl text-red-600 font-bold">{{ informesPendientes }}</p>
                </ng-container>
                <ng-template #noInformesPendientes>
                  <div class="flex flex-col items-center text-center">
                    <i class="pi pi-file text-red-300 text-4xl mb-2"></i>
                    <p class="text-gray-500 text-sm font-semibold">No hay informes pendientes por enviar.</p>
                  </div>
                </ng-template>
              </div>
            
              <!-- Cuadro 3: Informes Totales -->
              <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col justify-center items-center">
                <ng-container *ngIf="totalInformes > 0; else noInformesTotales">
                  <h2 class="text-lg font-semibold text-gray-700">Informes Totales</h2>
                  <p class="text-3xl text-green-600 font-bold">{{ totalInformes }}</p>
                </ng-container>
                <ng-template #noInformesTotales>
                  <div class="flex flex-col items-center text-center">
                    <i class="pi pi-database text-green-300 text-4xl mb-2"></i>
                    <p class="text-gray-500 text-sm font-semibold">No se han revisado informes todavía.</p>
                  </div>
                </ng-template>
              </div>
            </div>
            

            <!-- Tabla de Detalles de Informes -->
            <div class="col-span-4 bg-white shadow rounded p-6 min-h-[600px]">
              <h2 class="text-lg font-semibold text-gray-700 mb-4">Detalles de Informes</h2>
            
              <ng-container *ngIf="detalleInformes && detalleInformes.length > 0; else noInformes">
                <p-table [value]="detalleInformes" [paginator]="true" [rows]="5">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Alumno</th>
                      <th>Práctica</th>
                      <th>Estado</th>
                      <th>Días Restantes</th>
                      <th>Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-informe>
                    <tr>
                      <td>{{ informe.nombre_alumno }}</td>
                      <td>{{ tipoPractica[informe.tipo_practica] }}</td>
                      <td>
                        <span [ngClass]="{
                          'text-green-600': informe.estado_informe === 'APROBADA',
                          'text-yellow-600': informe.estado_informe === 'ENVIADA',
                          'text-red-600': informe.estado_informe === 'ESPERA'
                        }">
                          {{ textoEstadoInforme[informe.estado_informe] }}
                        </span>
                      </td>
                      <td>{{ informe.dias_restantes }} días</td>
                      <td>
                        <div class="flex items-center space-x-5">
                          <button
                            pButton
                            label="{{ informe.estado_informe === 'ESPERA' ? 'Realizar' : 'Ver' }}"
                            class="p-button-text"
                            (click)="informe.estado_informe === 'ESPERA' ? realizarInforme(informe.id_informe_confidencial) : verInforme(informe)"
                          ></button>
                          <div
                            *ngIf="cargandoPracticas.has(informe.id_informe_confidencial)"
                            class="w-5 h-5 border-4 border-t-transparent border-blue-500 border-solid rounded-full animate-spin"
                          ></div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </ng-container>
            
              <ng-template #noInformes>
                <div class="flex items-center space-x-3">
                  <i class="pi pi-info-circle text-blue-500 text-4xl"></i>
                  <p class="text-gray-700 text-lg">
                    No hay informes que mostrar aún, espera a que un alumno finalice su práctica.
                  </p>
                </div>
              </ng-template>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal de Detalles -->
<p-dialog [(visible)]="modalDetalles" [modal]="true" [draggable]="false" [closable]="false" [dismissableMask]="true" [style]="{ width: '750px' }">
    <!-- Header -->
    <ng-template pTemplate="header">
      <div class="text-center mx-auto py-4">
        <h2 class="text-2xl font-semibold text-blue-700">Detalles de la Práctica</h2>
      </div>
    </ng-template>
  
    <!-- Content -->
    <ng-template pTemplate="content">
      <div class="space-y-8">
        <!-- Información General -->
        <div class="space-y-6">
          <div class="border-b pb-4">
            <h3 class="text-xl font-semibold text-gray-800">Información General</h3>
          </div>
          <div class="grid grid-cols-2 gap-6 text-sm">
            <div>
              <p class="text-gray-500">Tipo de Práctica</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada!.tipo_practica == 'PRACTICA_UNO' ? 'Práctica I' : 'Práctica II' }}</p>
            </div>
            <div>
              <p class="text-gray-500">Alumno</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada!.informe_alumno.alumno.usuario.nombre }}</p>
            </div>
            <div>
              <p class="text-gray-500">Modalidad</p>
              <p class="font-medium text-gray-900">{{ textoModalidad[practicaSeleccionada!.modalidad] }}</p>
            </div>
        
            <!-- Estado Informe Confidencial -->
            <div *ngIf="!['CURSANDO'].includes(practicaSeleccionada!.estado)">
              <p class="text-sm text-gray-500">Estado Informe Confidencial</p>
              <p class="text-base font-medium truncate"
                [ngClass]="{
                  'text-blue-600': selectedInforme.estado_informe === 'ENVIADA',
                  'text-red-600': selectedInforme.estado_informe === 'ESPERA',
                  'text-green-600': selectedInforme.estado_informe === 'APROBADA',
                  'text-yellow-600': selectedInforme.estado_informe === 'REVISION'

                }">
                {{ textoEstadoInforme[selectedInforme.estado_informe] }}
              </p>
            </div>
          </div>
        </div>
  
        <!-- Fechas y Horas -->
        <div class="space-y-6">
          <div class="border-b pb-4">
            <h3 class="text-xl font-semibold text-gray-800">Fechas y Horas</h3>
          </div>
          <div class="grid grid-cols-2 gap-6 text-sm">
            <div>
              <p class="text-gray-500">Fecha de Inicio</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.fecha_inicio | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div>
              <p class="text-gray-500">Fecha de Finalización</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.fecha_termino | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div>
              <p class="text-gray-500">Cantidad de Horas</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.cantidad_horas }} horas</p>
            </div>
            <div>
              <p class="text-gray-500">Horas Semanales</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.horas_semanales }} horas/semana</p>
            </div>
          </div>
        </div>
    
        <!-- Horas Realizadas -->
        <div class="space-y-6" *ngIf="practicaSeleccionada?.estado !== 'CURSANDO'">
          <div class="border-b pb-4">
            <h3 class="text-xl font-semibold text-gray-800">Horas Realizadas</h3>
          </div>
          <div class="grid grid-cols-2 gap-6 text-sm">
            <div>
              <p class="text-gray-500">Total de Horas</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.informe_confidencial?.total_horas }} horas</p>
            </div>
            <div>
              <p class="text-gray-500">Horas extraordinarias</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.informe_confidencial?.horas_practicas_extraordinarias }} horas</p>
            </div>
            <div>
              <p class="text-gray-500">Horas regulares</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.informe_confidencial?.horas_practicas_regulares }} horas</p>
            </div>
            <div>
              <p class="text-gray-500">Horas de Inasistencia</p>
              <p class="font-medium text-gray-900">{{ practicaSeleccionada?.informe_confidencial?.horas_inasistencia }} horas</p>
            </div>
          </div>
        </div>
  
  
      </div>
    </ng-template>
  
    <!-- Footer -->
    <ng-template pTemplate="footer">
      <div class="flex justify-end space-x-6">
        <button type="button" class="bg-gray-400 hover:bg-gray-500 text-white text-sm font-medium px-4 py-2 rounded-lg"
          (click)="cerrarModalDetalles()">
          Cerrar
        </button>
      </div>
    </ng-template>
</p-dialog>
  
