<app-header></app-header>

<div *ngIf="cargando" class="absolute top-0 left-0 w-full h-[calc(100%)] flex justify-center items-center pointer-events-none">
    <div class="flex space-x-2">
      <!-- Puntos animados con rebote e iluminación progresiva -->
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
           style="animation-delay: 0s"></div>
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
           style="animation-delay: 0.2s"></div>
      <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce-bright"
           style="animation-delay: 0.4s"></div>
    </div>
</div>

<div *ngIf="!cargando" class="container mx-auto my-10 p-10 bg-white rounded-lg shadow-md">

    <div *ngFort></div>

</div>

<app-pdfgenerator
  *ngIf="mostrarPdfComponent"
  [idPractica]="idPracticaSeleccionada"
  [idInformeEvaluativo]="idInformeSeleccionado"
  [idDocente]="idDocenteSeleccionado"
  (pdfGenerado)="onPdfGenerado()"
  [hidden]="true"
  >
</app-pdfgenerator>